/* Global Rules */

:root{
    --main-color: #314584;
    --secondary-color: #FF3946;
    --main-transition: .3s;
    --section-padding: 70px;
    --section-background: #f4fafe;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h4.main-heading{
    color: var(--secondary-color);
    font-weight: 600;
    margin: 0 0 10px;
    text-transform: uppercase;
}

h4.main-heading + h1{
    font-size: 40px;
    color: var(--main-color);
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    max-width: 318px;
}

/* End Global Rules */

/* Header */

.header{
    background: var(--section-background);
}

.header .navbar{
    background: #f8f8f8;
    position: sticky;
    top: 0;
}

.header .navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar .container .logo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .navbar .container .logo img{
    width: 100%;
}

.header .navbar .container ul.nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.header .navbar .container ul.nav li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .navbar .container ul.nav li a{
    font-size: 19px;
    color: var(--main-color);
    font-weight: 600;
    transition: color var(--main-transition);
}

.header .navbar .container ul.nav li a:hover{
    color: var(--secondary-color);
}

@media (max-width: 767px){
    .header .navbar .container{
        flex-direction: column;
    }
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.header > .container .intro-text{
    max-width: 100%;
    width: 400px;
    flex: 1;
    padding: 50px 0;
}

.header > .container .intro-text h1{
    color: var(--main-color);
    font-size: 70px;
    font-weight: 600;
    margin: 0 0 25px;
}

.header > .container .intro-text h1 + p{
    color: #999;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 25px;
}

.header > .container .intro-text > a:first-of-type{
    display: inline-block;
    padding: 15px 25px;
    border-radius: 25px;
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: var(--main-transition);
}

.header > .container .intro-text > a:first-of-type:hover{
    color: var(--main-color);
    background: none;
}

.header > .container .intro-text > a:nth-of-type(2){
    font-weight: 600;
    color: var(--main-color);
    display: inline-block;
    margin: 0 15px;
    transition: color var(--main-transition);
}

.header > .container .intro-text > a:nth-of-type(2):hover{
    color: var(--secondary-color);
}

.header > .container .image{
    flex: 1;
    min-width: 700px;
    margin-right: -100px;
}

.header > .container .image img{
    width: 100%;
}

@media (max-width: 1200px){
    .header > .container .image{
        display: none;
    }

    .header > .container .intro-text{
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (max-width: 767px){
    .header .navbar .container ul.nav li a{
        font-size: 15px;
    }

    .header > .container .intro-text h1{
        font-size: 50px;
    }

    .header > .container .intro-text h1 + p{
        font-size: 16px;
    }

    .header > .container .intro-text > a:first-of-type{
        padding: 12px 20px;
        font-size: 16px;
    }
}

/* End Header */

/* About */

.about .container{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .container:first-child{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.about .container:first-child .text{
    max-width: 350px;
    width: 100%;
}

.about .container:first-child .text a{
    margin-top: 20px;
    padding: 15px 25px;
    display: inline-block;
    border-radius: 25px;
    background: var(--secondary-color);
    color: #fff;
    font-weight: 500;
    border: 2px solid var(--secondary-color);
    transition: var(--main-transition);
}

.about .container:first-child .text a:hover{
    background: none;
    color: var(--main-color);
}

.about .container:first-child .boxes{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.about .container:first-child .boxes .box{
    box-shadow: 0 0 10px #00000020;
    padding: 40px;
    flex-shrink: 1;
    transition: var(--main-transition);
}

.about .container:first-child .boxes .box:hover{
    transform: scale(1.03);
}

.about .container:first-child .boxes .box i{
    font-size: 55px;
    color: var(--main-color);
    margin-bottom: 20px;
}

.about .container:first-child .boxes .box h2{
    font-size: 35px;
    color: var(--main-color);
    margin-bottom: 20px;
    line-height: 1.3;
    font-weight: 500;
}

.about .container:first-child .boxes .box p{
    color: #888;
    line-height: 1.3;
    font-size: 17px;
}

@media (max-width: 991px){
    .about .container:first-child{
        flex-direction: column;
    }

    .about .container:first-child .text{
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }

    .about .container:first-child .text h1{
        max-width: 100%;
    }
}

@media (max-width: 767px){
    .about .container .boxes{
        flex-direction: column;
    }

    .about .container .boxes .box h2{
        font-size: 30px;
    }
}

.about .container:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background: var(--section-background);
}

.about .container:nth-child(2) .text{
    width: 100%;
    flex: 1;
}

.about .container:nth-child(2) .text p{
    margin-top: 20px;
    line-height: 1.7;
    font-size: 18px;
    color: #888;

}

.about .container:nth-child(2) .image img{
    width: 550px;
    max-width: 100%;
}

@media (max-width: 991px){
    .about .container:nth-child(2){
        flex-direction: column;
    }

    .about .container:nth-child(2) .text{
        text-align: center;
        max-width: 600px;
    }

    .about .container:nth-child(2) .text h1{
        margin: 0 auto;
    }
}

/* End About */

/* Portfolio */

.portfolio{
    padding: var(--section-padding) 0;
}

.portfolio .container .projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
    justify-items: center;
    align-items: flex-start;
    padding: 50px 0;
}

@media (max-width: 390px){
    .portfolio .container .projects{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.portfolio .container .projects .box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.portfolio .container .projects .box::after{
    content: attr(project-name);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: #314484cb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: #fff;
    width: 70px;
    height: 70px;
    opacity: 0;
    border-radius: 10px;
    transition: var(--main-transition);
}

.portfolio .container .projects .box:hover::after{
    opacity: 1;
    width: 100%;
    height: 100%;
}

.portfolio .container .projects .box img{
    width: 100%;
}

.portfolio .container a{
    display: block;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--secondary-color);
    transition: var(--main-transition);
}

.portfolio .container a:hover{
    color: var(--main-color);
}

/* End Portfolio */